{% extends 'base.html' %}


{% block content %}

    <div class="flex p-20">
        <form method="POST" class="max-w-sm mx-auto bg-blue-100 p-6 rounded-lg grid">
            {% csrf_token %}
            {{form}}
            <a href="{% url 'delete_note' note.id %}" class='mt-5 py-2.5 px-6 text-sm rounded-full bg-red-500 text-white cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-red-700'>Delete</a>
            <button type='submit' class='mt-5 py-2.5 px-6 text-sm rounded-full bg-green-500 text-white cursor-pointer font-semibold text-center shadow-xs transition-all duration-500 hover:bg-green-700'>Save</button>
        </form>
    </div>
    
{% endblock content %}